
<div class="left-button">
  <%= link_to "マイページに戻る", user_path(current_user.id) %>
</div>

<h2 class="title">
    <%= ("#{@another_entry.user.name}さんとDM")%>
  </h2>

<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <%= image_tag m.user.get_profile_image(100,100), class:"user-image" %>
          </div>
          <div class="chat-hukidashi"> <strong><%= m.body %></strong> <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_for @message do |f| %>
      <%= f.text_field :body, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>